<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>首页</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css">

<script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/index.js}" type="text/javascript"></script>

</head>
<body>
	<!-- 此ul为弹幕容器 -->
	<ul class="scroll" th:each="bar,lstat:${barList}">
		<li th:text="${bar.content}"></li>
	</ul>
	<!-- 此后为主页需要显示的内容 -->
	<div class="container">
		
	</div>
</body>
</html>